<footer id="footer" class="panel" style="margin-top: 10vh" >
  <div class="panel-footer" >
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-8">
		<b>About</b><br/>
      © 2025 Mondego Research Group.<br/>
	  <a href="https://www.informatics.uci.edu/" target="_blank">Department of Informatics</a><br/>
	  <a href="https://ics.uci.edu/" target="_blank">Donald Bren School of Information and Computer Sciences</a>.<br/>
	  <p>This site is maintained by <a href="https://mondego.ics.uci.edu/" target="_blank"> Mondego Research Group</a></p>	  
	  </div>
		<!-- <div class="col-sm-4">
			<b>Research Projects Funded by</b><br />
			- <a href="#" target="_blank">A</a><br/>
			- <a href="#" target="_blank">B</a><br/>
			- <a href="#" target="_blank" >C</a><br/>
		</div> -->
		<div class="col-sm-4">
			<b>Contact</b><br />
			Mondego Research Group<br>
			2400 ISEB, UC Irvine (<a href="https://maps.app.goo.gl/FN8CZQocmsxLFisE9" target="_blank">Maps</a>)<br />
			Website: <a href="https://mondego.ics.uci.edu/" target="_blank">mondego.ics.uci.edu</a><br/>
			Email: <a href="mailto:lopes@ics.uci.edu">lopes@ics.uci.edu</a>
		</div>
	  </div>
	</div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/publication-filter.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/event-filter.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/anchor_offset.js"></script>
<!-- Magnific Popup core JS file -->
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/gallery.js"></script>